@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.glow-border {
  border: 1px solid rgba(0, 255, 229, 0.4);
  box-shadow: 0 0 25px rgba(255, 0, 255, 0.2);
}
